@use '../variables'

#portfolio
    display: flex
    flex-wrap: wrap
    padding: 2rem
    gap: 3rem

    h1
        width: 100%
        text-align: center
        font-size: 3rem
        margin-bottom: 4rem
        background: #000
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
